/* Mobile Styles */
@media all and (max-width: 480px) {
    body {
        width: 95%;
        background-image: url(../img/Hogwarts2.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .counter-box {
        text-align: center;
    }
}

/* Tablet Styles */
@media all and (min-width: 481px) and (max-width: 960px) {
    body{
        width: 95%; 
        background-image: url(../img/Hogwarts4.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .counter-box {
        text-align: center;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
    } 
} 