/* Mobile Styles */
@media all and (max-width: 480px) {
    body {
        background-image: url(../img/Hogwarts2.png);
        background-repeat: no-repeat;
        background-size: contain;
        overflow-y: hidden;
    }
    .counter-box {
        text-align: center;
    }
}

/* Tablet Styles */
@media all and (min-width: 481px) and (max-width: 1000px) {
    body{
        background-image: url(../img/Hogwarts3.png);
        background-repeat: no-repeat;
        background-size: contain;
        overflow-y: hidden;
    }
    .counter-box {
        text-align: center;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1001px) {
    body {
        width: 960px;
        margin: 0 auto;
    } 
} 